.bg-box {
    height: 500px;
    width: 500px;
    background-color: red;
    /*para mover este elemento por todo el navegador*/
    position: relative;
    /*al agregar un position a un element nos da la opcion de
     usar lo siguiente: right, left, top,bootom; */
    /*top: 100px;*/
    /*left: 100px;*/
    right: 100px;
}

/*Hay la opcion de combinar absolute con relative*/
/*Absolute necesita de un padre que defina su entorno,
es decir su ancho y alto*/
/*por ende Relative va a funcionar como padre de Absolute*/

.padre {
    width: 500px;
    height: 500px;
    background-color: aqua;
    position: relative;
}

.hijo {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    /*right: 0;*/
    /*bottom: 0;*/
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

/*la clase bandera debe ocupar toda la pantalla. Eso se hace con vh*/
/*vh va de 0 al infinito, pero 100vh equivale la alto de la pantalla*/
/*vh=200 hace que el div ocupe el alto de 2 pantallas*/
/*!ojo: vh es vertical*/


.bandera {
    height: 100vh;
    border: solid;
    position: relative;
}

.green {
    background-color: green;
    height: 100vh;
    width: 40%;
    float: left;
}

.red {
    background-color: red;
    height: 100vh;
    width: 60%;
    float: right;
}

/*Nota: sabemos que la foto mide 180px x 180px y el cuadrado (div) que la contiene
mide 200px x 200px. Para que la foto crezca y ocupe todo el div podemos usar la propiedad
background-size:cover*/
.escudo {
    background: url("../images/escudo-portugal.png");
    height: 200px;
    width: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(40% - 100px);
    background-size: cover;
}